# Ignore everything in PL1 directory
/PL1/*

# But keep track of .cu, .bmp and .cpp files
!/PL1/**/*.cu
!/PL1/**/*.h
!/PL1/**/*.cpp
PL1/out_pixel_color.bmp
PL1/output_inverted.bmp
PL1/out_pixel_color.bmp
PL1/output_inverted.bmp
